body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
}

.content-table {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    height: 85px;
    padding-top: 8px;
    padding-left: 2px;
}

.logo {
    width: 220px;
    height: 57px;
}

.contact {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
}

.subtext {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.banner {
    width: 600px;
    height: 239px;
    margin-bottom: 6px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}

h3 {
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.hata-plus {
    padding-left: 30px;
    text-align: left;
}

.description {
    margin-bottom: 4px;
    width: 540px;
    height: 102px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.buttoncall {
    display: inline-block;
    margin-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #fd8300;
}

.button {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    vertical-align: middle;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}

.grey-block {
    width: 602px;
    height: 195px;
    background-color: #ededf5;
    margin-bottom: 3px;
    text-align: center;
}


.grey-block img {
    width: 100px;
    height: 100px;
}

.three-images {
    background-color: #ededf5;
    padding: 15px 0;
    text-align: center;
}


.three-images table {
    width: 100%;
}

.three-images td {
    text-align: center;
    vertical-align: top;
    width: 33.33%;
}

.three-images img.geolocation {
    width: 37px;
    height: 46px;
}

.three-images img.domik {
    width: 46px;
    height: 45px;
}

.three-images img.tree {
    width: 32px;
    height: 46px;
}

.title {
    font-size: 13px;
    color: #666666;
    font-family: "Arial";
}


.grey-block h3,
.grey-block p {
    margin: 0;
    padding: 5px 0;
}

.spacer {
    height: 25px;
    line-height: 25px;
}

.montreal {
    width: 260px;
    height: 65px;
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}

.montreal2 {
    width: 260px;
    height: 65px;
    padding-left: 30px;
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}

.sending {
width: 540px;
height: 60px;
font-size: 13px;
line-height: 20px;
color: #ffffff;
font-family: "Arial";
text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1f1f56;
    color: white;
    text-decoration: none;
    border-radius: 20px;

}

.footer {
    width: 600px;
    height: 124px;
    background-color: #08081a;
    text-align: center;
    color: #ffffff;
    padding-top: 31px;
    margin: 0 auto;
}



.social-icons {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
}



.twich {
    display: table-cell;
    vertical-align: middle;
    width: 17px;
    height: 13px;
}

.footer-text {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.footer-link {
    color: #fd8300;
    text-decoration: none;
}

.highlight {
    background-color: #000014;
    height: 47px;
    width: 600px;
    text-align: center;
    margin-top: 75px;
}

.highlight a {
    line-height: 18px;
    color: #fd8300;
    font-family: "Arial";
    font-size: 11px;
    text-align: center;
}